<div class="container" [hidden]="submitted">
    <h1>Hero Form</h1>
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
        <mark>{{model}}</mark>
        <hr>
        <div class="form-group">
<!--            <label for="name">Name&nbsp;*</label>-->
<!--            <input type="text" class="form-control" id="name" required-->
<!--                   [(ngModel)]="model.name"-->
<!--                   #name="ngForm"-->
<!--                   [class.is-valid]="name.valid"-->
<!--                   [class.is-invalid]="!name.valid"-->
<!--                   ngControl="name">-->
<!--            <div [hidden]="name.valid || name.pristine" class="invalid-feedback">-->
<!--                Name is required-->
<!--            </div>-->
                        <material-input
                                floatingLabel type="percent"
                                lower="0" upper="100"
                                label="Name"
                                [(ngModel)]="model.name"
                                ngControl="name"
                                percentErrorRenderer="myErrors"
                                required></material-input>
        </div>
        <div class="form-group">
            <label for="alterEgo">Alter Ego</label>
            <input type="text" class="form-control" id="alterEgo"
                   [(ngModel)]="model.alterEgo"
                   ngControl="alterEgo">

        </div>
        <div class="form-group">
            <label for="power">Hero Power&nbsp;*</label>
            <select class="form-control" id="power" required
                    [(ngModel)]="model.power"
                    #power="ngForm"
                    [ngClass]="setCssValidityClass(power)"
                    ngControl="power">
                <option *ngFor="let p of powers" [value]="p">{{p}}</option>
            </select>
        </div>
        <div class="row">
            <div class="col-auto">
                <button [disabled]="!heroForm.form.valid" type="submit" class="btn btn-primary">
                    Submit
                </button>
                <button (click)="clear()" type="button" class="btn">
                    Clear
                </button>
            </div>
            <small class="col text-right">*&nbsp;Required</small>
        </div>
    </form>
</div>
<div [hidden]="!submitted">
    <h1>Hero data</h1>

    <table class="table">
        <tr>
            <th>Name</th>
            <td>{{model.name}}</td>
        </tr>
        <tr>
            <th>Alter Ego</th>
            <td>{{model.alterEgo}}</td>
        </tr>
        <tr>
            <th>Power</th>
            <td>{{model.power}}</td>
        </tr>
    </table>

    <button (click)="submitted=false" class="btn btn-primary">Edit</button>
</div>